body {
  /* font-family: "Alata", sans-serif; */
  /* font-family: "Josefin Sans", sans-serif; */
  /* background-color: Black; */
  box-sizing: border-box;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {
    .container {
        width: px;
    }
} */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 767px) {
  .container {
    width: 765px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

/* Start Header */
header {
  width: 100%;
  height: 60vh;
  background-image: url("/images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width: 767px) {
  header {
    height: 100vh;

    background-image: url("/images/mobile/image-hero.jpg");
  }
}
.logo img {
  width: 150px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
  padding: 30px 10px 0;
}
header nav .links ul {
  display: flex;
  color: white;
  font-family: "Alata", sans-serif;
}
@media (max-width: 767px) {
  header nav .links {
    display: none;
  }
}
header nav ul {
  list-style-type: none;
}

header nav ul li {
  margin-left: 10px;
}
@media (max-width: 767px) {
  header nav .links ul li {
    margin-bottom: 25px;
    font-size: 1.6em;
    font-weight: 300;
    /* font-family: "Alata", sans-serif; */
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }
}
header nav ul li a {
  color: white;
  text-decoration: none;
}
@media (min-width: 1024px) {
  header nav .links ul li {
    margin-left: 15px;
    position: relative;
  }
  header nav li:hover::before {
    margin-top: 25px;
    content: "";
    position: absolute;
    background-color: white;
    width: 50%;
    height: 2px;
    transform: translateX(50%);
  }
}

header .text {
  border: 2px solid white;
  width: 500px;
  height: 200px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  header .text {
    width: 80%;
    /* font-size: 1em; */
    transform: translateX(11%);
  }
}
header .text p {
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  padding: 15px;
}
@media (max-width: 767px) {
  header .text p {
    font-size: 2em;
    /* font-size: 1em; */
    line-height: 1.6;
  }
}
header .icons {
  position: relative;
  width: 37px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 3;
}
@media (min-width: 768px) {
  header .icons {
    display: none;
  }
}
header .icons span {
  width: 100%;
  background-color: white;
  height: 3px;
}
.open {
  flex-direction: column;
  position: absolute;
  top: 2px;
  justify-content: center;
  display: flex !important;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* text-align: center; */
  margin-left: -20px;
  background-color: black;
  z-index: 2;
}
.openlist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.openlogo {
  position: absolute;
  z-index: 6;
  top: 30px;
}
/* End Header */
/* Start lunding */
.lunding {
  /* height: 60vh; */
  margin-top: 100px;
}
.lunding .img {
  position: relative;
}
.lunding .text {
  background-color: white;
  height: 206px;
  position: absolute;
  width: 376px;
  /* top: 0; */
  right: 0;
  bottom: 4px;
  padding: 53px;
}
@media (max-width: 767px) {
  .lunding .img img {
    width: 80%;
  }
  .lunding .img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .lunding .text {
    position: relative;
    text-align: center;
    width: 300px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
  .lunding .text h2 {
    font-size: 1.8em;
    line-height: 1.1;
  }
}
.lunding .text h2 {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
  line-height: 1.3;
}
.lunding .text p {
  font-family: "Josefin Sans", sans-serif;
  color: hsl(0, 0%, 55%);
  line-height: 1.4;
  font-size: 16px;
}
/* End lunding */
/* Start Crations */
.creations .head {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .creations .head {
    margin-top: 200px;
    justify-content: center;
  }
  .creations .head .editButton {
    display: none;
  }
}
.creations .head h2 {
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
}
.editButton {
  padding: 9px 33px;
  background: transparent;
  border-color: black;
  border-width: 1px;
  text-transform: uppercase;
  font-family: "Josefin Sans";
  color: black;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}
.editButton:hover {
  background-color: black;
  color: white;
}
.creations .creations-content img {
  width: 80%;
}
.creations .creations-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* height: 100vh; */
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px; */
}
@media (max-width: 1000px) {
  .creations .creations-content {
    justify-content: space-evenly;
  }
}
.creations .creations-content .imgedit {
  position: relative;
  /* width: 100%; */
  /* width: 237px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.creations .creations-content img {
  position: relative;
  z-index: -1;
  width: 100%;
}
.creations .creations-content .imgedit::before {
  position: absolute;
  content: attr(data-info);
  color: white;
  width: 120px;
  height: 50px;
  font-size: 23px;
  bottom: 19px;
  left: 35px;
  font-family: "Josefin Sans";
  font-weight: 300;
}
.creations .creations-content .imgedit:hover img {
  opacity: 0.5;
  cursor: pointer;
  z-index: 5;
}
.creations .creations-content .imgedit:hover::before {
  color: black;
  z-index: 6;
}
/* Second Buttom */
.buttom-second {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 9px 50px;
}
/* End Crations */
/*  Start Footer */
footer {
  background-color: black;
  margin-top: 100px;
}
footer .content-footer {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  footer .content-footer {
    display: flex;
    justify-content: center;
  }
}
footer .content-footer .text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
@media (max-width: 767px) {
  footer .content-footer .text {
    justify-content: center;
    margin-bottom: 20px;
  }
}
footer .content-footer .text img {
  align-self: flex-start;
}
footer .content-footer .text ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding: 0px;
}
@media (max-width: 767px) {
  footer .content-footer .text ul {
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
  }
}
footer .content-footer .text ul li:not(li:first-child) {
  margin-left: 18px;
}
@media (max-width: 767px) {
  footer .content-footer .text ul li:not(li:first-child) {
    margin-top: 20px;
    margin-left: 0;
  }
}
footer .content-footer .text ul li a {
  text-decoration: none;
  color: white;
  font-family: "Alata", sans-serif;
}
footer .content-footer .mediaSo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
footer .content-footer .mediaSo p {
  color: white;
  font-family: "Alata";
  font-size: 14px;
  color: hsl(0, 0%, 55%);
}
footer .content-footer .mediaSo .logos img {
  margin-left: 10px;
  cursor: pointer;
}
/*  End Footer */
